@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
  font-family: "Barlow-Condensed1";
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}
@font-face {
  font-family: "Barlow-Condensed2";
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf);
}
@font-face {
  font-family: "Barlow-Condensed-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
body {
  margin: 0;
  display: flex;
}

.leftpanel {
  width: 50%;
  margin-left: 150px;
}
.leftpanel img {
  margin-top: 50px;
  margin-bottom: 60px;
}
.leftpanel h2 {
  font-family: "Barlow-Condensed2";
  font-size: 24px;
  color: #5B5F71;
  letter-spacing: 5px;
}
.leftpanel h2 span {
  padding: 10px;
  padding-left: 15px;
  border-radius: 25px;
  background-color: #242942;
  font-family: "Barlow-Condensed1";
  color: white;
}
.leftpanel h1 {
  font-size: 70px;
  color: #242942;
  font-family: "Barlow-Condensed1";
  margin-top: 0;
  line-height: 80px;
}
.leftpanel p {
  width: 50%;
  font-size: 16px;
  font-family: "Barlow";
  color: #5B5F71;
  margin-top: -40px;
  margin-bottom: 30px;
}
.leftpanel .content__link {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-family: "Barlow-Condensed2";
}
.leftpanel .content__link a {
  font-size: 14px;
  display: inline;
  text-decoration: none;
  color: #EEF3F6;
  background-color: #FF5C5C;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  padding-top: 18px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Barlow-Condensed1";
  letter-spacing: 3px;
}
.leftpanel .content__link h2 {
  font-size: 24px;
}

.rightpanel {
  font-family: "Barlow-Condensed1";
  font-size: 20px;
  width: 50%;
  overflow: hidden;
}
.rightpanel img {
  margin-top: -40%;
  width: 140%;
}
.rightpanel ul {
  display: flex;
  margin-top: 15%;
}
.rightpanel li {
  margin-right: 30px;
}
.rightpanel__lists {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 70vh;
  background-color: #EEF3F6;
  border-radius: 100px;
  margin-top: -10%;
}
.rightpanel .lists__list {
  font-family: "Barlow-Condensed-Bold";
  text-transform: uppercase;
}
.rightpanel .lists__list li {
  list-style-type: none;
}
.rightpanel .lists__list li a {
  text-decoration: none;
  color: #242942;
}
.rightpanel .lists__list .list__round {
  background-color: #5B5F71;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-top: 8px;
}
.rightpanel .lists__list .list__login a {
  color: #5B5F71;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
    height: 100vh;
  }
  .leftpanel {
    margin-left: 10vw;
    width: 100vw;
  }
  .leftpanel h2 {
    font-size: 16px;
  }
  .leftpanel h1 {
    margin-top: 6vh;
    font-size: 35px;
    line-height: 50px;
    width: 70%;
    margin-left: 5vw;
  }
  .leftpanel p {
    margin-top: 5vh;
    margin-left: -3vw;
    width: 100%;
  }
  .leftpanel .content__link {
    margin-top: 7vh;
  }
  .leftpanel .content__link a {
    height: 40px;
    margin-top: 15px;
  }
  .leftpanel .content__link h2 {
    font-size: 20px;
    margin-top: 2vh;
  }
  .rightpanel {
    height: auto;
    margin-left: 10vw;
    margin-top: 0;
    width: 100vw;
    font-size: 30px;
  }
  .rightpanel__lists {
    flex-direction: column;
    margin-top: 10vh;
    margin-left: -5vw;
    width: 100%;
    height: auto;
    background-color: white;
  }
  .rightpanel .lists__list {
    flex-direction: column;
    margin-left: 22vw;
    margin-top: 0;
    row-gap: 3vh;
  }
  .rightpanel img {
    display: none;
  }
  .rightpanel .list__round {
    display: none;
  }
  .rightpanel .list__login {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */