$Red:#FF5C5C;
$VeryDarkBlue: #242942;
$DarkGrayishBlue:#5B5F71;
$GrayishBlue:#A0A1AC;
$LightGrayishBlue:#EEF3F6;
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
    font-family: "Barlow-Condensed1";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}  
@font-face {
    font-family: "Barlow-Condensed2";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf);
}
@font-face {
    font-family: "Barlow-Condensed-Bold";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
// html{
//     font-size: 10px;
// }
body{
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
    font-family: "Barlow-Condensed1";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}  
@font-face {
    font-family: "Barlow-Condensed2";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf);
}
@font-face {
    font-family: "Barlow-Condensed-Bold";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}
// html{
//     font-size: 10px;
// }
body{
    margin: 0;
    display: flex;
}
.leftpanel{
    width: 50%;
    margin-left: 150px;
    img{
        margin-top: 50px;
        margin-bottom: 60px;
        }
    h2{
        font-family: "Barlow-Condensed2";
        font-size: 24px;
        color:$DarkGrayishBlue ;
        letter-spacing:5px;
        span{
            padding: 10px;
            padding-left: 15px;
            border-radius: 25px;
            background-color:$VeryDarkBlue;
            font-family: "Barlow-Condensed1";
            color: white;
            }
    }

    h1{
        font-size: 70px;
        color:$VeryDarkBlue;
        font-family: "Barlow-Condensed1" ;
        margin-top:0;
        line-height: 80px;
    }
    p{
    width: 50%;    
    font-size: 16px;
    font-family: "Barlow";
    color:$DarkGrayishBlue ;
    margin-top: -40px;
    margin-bottom: 30px;
    }
    .content__link{
    display: flex;
    column-gap: 30px;
    font-family:"Barlow-Condensed2";
        a{
            font-size: 14px;
            display: inline;
            text-decoration: none;
            color:$LightGrayishBlue;
            background-color:$Red;
            text-align: center;
            vertical-align:middle;
            padding: 10px;
            padding-top: 18px;
            height:auto;
            border-radius: 10px;   
            margin-top: 10px;
            font-family:"Barlow-Condensed1";
            letter-spacing:3px;
        }
        h2{
            font-size: 24px;
        }
    }
}
.rightpanel{
    font-family: "Barlow-Condensed1";
    font-size: 20px;
    width: 50%;
    overflow: hidden;
    img{
        margin-top: -40%;
        width: 140%;
        
    }
    ul{
        display:flex;
        margin-top: 15%;
    }
    li{
        margin-right: 30px;
    }
    &__lists{
        display: flex;
        justify-content: center;
        width: 50vw;
        height: 70vh;
        background-color: $LightGrayishBlue;
        border-radius: 100px;
        margin-top: -10%;
    }
    .lists{
        &__list{
            font-family: "Barlow-Condensed-Bold";
            text-transform: uppercase;
            li{ list-style-type:none;
                a{text-decoration: none;
                color:$VeryDarkBlue ;
                }
            }
            .list{
                &__round{
                    background-color:$DarkGrayishBlue;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    margin-top: 8px;
                }
                &__login{
                    a{
                    color: $DarkGrayishBlue;
                    }
                    
                }
            }
         }
    }
}
@media screen and (max-width: 800px) {
   body{
    flex-direction: column;
    height: 100vh;
   } 
   .leftpanel{
    margin-left: 10vw;
    width: 100vw;
        h2{
            font-size: 16px; 
            }
        h1{
            margin-top:6vh;
            font-size: 35px;
            line-height: 50px;
            width: 70%;
            margin-left: 5vw;
        }
        p{
            margin-top: 5vh;
            margin-left:-3vw;
            width: 100%;
        }
        .content__link{
        margin-top: 7vh;
            a{
                height: 40px;
                margin-top: 15px;
            }
            h2{
                font-size: 20px;
                margin-top: 2vh;
            }
        }
    }
    .rightpanel{
    height: auto;
    margin-left: 10vw;
    margin-top: 0;
    width: 100vw;
    font-size: 30px;
        &__lists{
            flex-direction: column;
            margin-top: 10vh;
            margin-left:-5vw;
            width: 100%;
            height: auto;
            background-color: white;
        }
        .lists{
           
            &__list{
                flex-direction: column;
                margin-left: 22vw;
                margin-top: 0;
                row-gap: 3vh;
            }
        }
        img{
            display: none;
        }
        .list{
           
            &__round{
                display: none;
            }
            &__login{
                margin-top: 30px;
            }
        }
    }
}