html {
  font-size: 10px;
}

@font-face {
  font-family: "Poppins";
  src: url(./Fonts/Poppins/Poppins-Medium.ttf);
}
@keyframes gear-animation {
  0% {
    trasform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5vw 68vw 26vw;
  grid-template-rows: auto;
  grid-template-areas: "leftpanel main rightpanel";
}

.leftpanel {
  grid-area: "leftpanel";
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
}
.leftpanel img {
  margin-left: 25%;
  margin-top: 70%;
  width: 2.5vw;
}
.leftpanel__none1 {
  text-align: center;
  animation: gear-animation 4s infinite linear;
  transform-origin: center;
}
.leftpanel .leftpanel__chosen {
  width: 3.5vw;
  margin-left: 30%;
}

.main {
  grid-area: "main";
  padding: 5rem;
  padding-top: 2rem;
}
.main__search {
  background-color: #F6F6F6;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.main__search input[type=text] {
  background-color: #F6F6F6;
  border: none;
}
.main__mediaelem {
  display: none;
}
.main h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.main__subtitle {
  color: #A6A6A6;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-top: -2%;
}
.main .categorias {
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.8rem;
  border-bottom: 0.1rem solid #353535;
}
.main .categorias p {
  color: #353535;
}
.main .categorias__mediaimg {
  display: none;
}
.main .categorias__chosen {
  border-bottom: 0.3rem solid red;
}
.main .categorias__chosen p {
  color: red;
}
.main a {
  text-decoration: none;
  color: rgb(53, 53, 53);
  align-items: center;
  display: flex;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
.main a img {
  width: 2vw;
  height: 3vh;
}
.main a p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.pizzas {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  grid-template-areas: "pizza1 pizza2 pizza3" "pizza4";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 6rem;
  margin-top: 5%;
}
.pizzas__pizza1 {
  grid-area: "pizza1";
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.pizzas__pizza2 {
  grid-area: "pizza2";
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.pizzas__pizza3 {
  grid-area: "pizza3";
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.pizzas__pizza4 {
  grid-area: "pizza4";
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.pizzas .pizza__link {
  text-align: end;
  margin-right: 5%;
  margin-bottom: 2%;
}
.pizzas .pizza__price {
  color: red;
  font-weight: 600;
}
.pizzas .pizza__price1 {
  color: red;
  font-weight: 600;
}
.pizzas .pizza__chosen {
  display: inline-block;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 2.4rem;
  padding: 0.2rem 1.2rem;
  background-color: rgb(53, 53, 53);
  border: 0.1rem solid rgb(53, 53, 53);
  border-radius: 1.5rem;
}
.pizzas .pizza__unchosen {
  display: inline-block;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 2.4rem;
  padding: 0.2rem 1.2rem;
  background-color: white;
  border: 0.1rem solid #D2D2D2;
  border-radius: 1.5rem;
}
.pizzas img {
  width: 100%;
}
.pizzas p {
  margin-left: 5%;
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: 500;
  color: rgb(53, 53, 53);
}
.pizzas span {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.rightpanel {
  grid-area: "rightpanel";
  background-color: rgb(246, 246, 246);
  padding: 1.5rem;
}
.rightpanel h2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.rightpanel p {
  font-size: 1.6rem;
  color: #6b6b6b;
  line-height: 2.4rem;
}
.rightpanel__checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightpanel__checkout h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}
.rightpanel__checkout a {
  margin-right: 10%;
}
.rightpanel__checkout img {
  width: 1rem;
  height: 1rem;
}
.rightpanel__undercheckout {
  margin-top: -5%;
}
.rightpanel__warning {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  background-color: rgba(243, 229, 180, 0.5);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}
.rightpanel__warning .warning__yellow {
  color: white;
  padding: 0.5rem 1.5rem;
  background-color: rgb(223, 175, 0);
  border-radius: 100%;
}
.rightpanel__warning p {
  font-size: 1.2rem;
  color: #DFAF00;
}
.rightpanel__confirm {
  margin-top: 3rem;
}
.rightpanel__confirm .confirm__bold {
  color: #353535;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 600;
}
.rightpanel__button {
  text-align: center;
  margin-top: 130%;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #5c5c5c;
}
.rightpanel__button a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "leftpanel" "main" "rightpanel";
  }
  .wrapper .leftpanel {
    padding: 1rem;
    flex-direction: row;
    background-color: white;
  }
  .wrapper .leftpanel img {
    width: 7vw;
    height: auto;
  }
  .wrapper .leftpanel__none {
    display: none;
  }
  .wrapper .leftpanel__none1 {
    display: none;
  }
  .main {
    padding: 2rem;
  }
  .main__search {
    width: 7vw;
    background-color: white;
    position: absolute;
    right: 3vw;
    top: 2vh;
  }
  .main__search .main__loupe {
    width: 7vw;
  }
  .main__search form {
    display: none;
  }
  .main__deskelem {
    display: none;
  }
  .main__mediaelem {
    display: block;
    font-size: 2.2rem;
  }
  .main .categorias {
    margin-bottom: 0;
    border-bottom: 0.1rem solid white;
  }
  .main .categorias a p {
    display: none;
  }
  .main .categorias__chosen {
    border-bottom: 0.1rem solid white;
    background-color: red;
    border-radius: 1.6rem;
    justify-content: center;
  }
  .main .categorias__chosen img {
    width: 7vw;
    height: 3vh;
  }
  .main .categorias__deskimg {
    display: none;
  }
  .main .categorias__mediaimg {
    display: block;
    width: 10vw;
    height: 4vh;
    padding: 1rem;
  }
  .main .categorias__mediaimg img {
    width: 10vw;
    height: 4vh;
  }
  .main .categorias__unchosen {
    background-color: #E8E8E8;
    padding: 1rem;
    border-radius: 1.6rem;
    width: 10vw;
    height: 4vh;
    justify-content: center;
  }
  .main .categorias__unchosen img {
    width: 7vw;
    height: 3vh;
  }
  .pizzas {
    grid-template-columns: 45% 45%;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    grid-template-rows: auto;
    grid-template-areas: "pizza1 pizza2" "pizza3 pizza4";
  }
  .pizza__price1 {
    margin-top: 25%;
  }
  .rightpanel {
    background-color: white;
  }
  .rightpanel h2 {
    display: none;
  }
  .rightpanel__checkout a {
    display: none;
  }
  .rightpanel__warning p {
    font-size: 1rem;
  }
  .rightpanel__warning .warning__yellow p {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */